/* .sidebarBody {
  background-color: #8697c4;
  width: 15rem;
  height: 100%;
  padding: 0 0.5rem;

  display: flex;
  flex-direction: column;
}

.sidebarExpenses {
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  font-family: poppins_bold;
  font-size: 1.1rem;
  color: white;
}

.sidebarExpenses:hover {
  cursor: pointer;
  background-color: #a8b6dd;
}


.sidebarLogout{
    height: 100%;
    display: flex;
    align-items: end;
    margin-bottom: 1rem;
}

.sidebarUsername{
    font-family: "poppins_medium"; 
    color: white;
    height: 4rem;

    padding-top: 1rem;
    text-align: center;
} */


.sidebar {
  /* position: fixed; */
  width: 250px;
  background-color: #333;
  color: #fff;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.sidebar-links {
  width: 100%;
}

.sidebar-link {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar-link:hover {
  background-color: #555;
}

.sidebar-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.sidebar-logout {
  margin-top: auto;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  border-top: 1px solid #555;
}

.sidebar-logout:hover {
  background-color: #555;
}
