.sidebarBody {
  background-color: #8697c4;
  width: 15rem;
  height: 100%;
  /* position: fixed; */
  padding: 0 0.5rem;

  display: flex;
  flex-direction: column;
}

.sidebarExpenses {
  /* border: 1px solid black; */
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  /* background-color: #3d52A0; */
  font-family: poppins_bold;
  font-size: 1.1rem;
  color: white;
}

.sidebarExpenses:hover {
  cursor: pointer;
  background-color: #a8b6dd;
}


.sidebarLogout{
    height: 100%;
    /* align-self: flex-end; */
    display: flex;
    align-items: end;
    margin-bottom: 1rem;
}

.sidebarUsername{
    font-family: "poppins_medium"; 
    color: white;
    /* border: 1px solid black; */
    height: 4rem;

    padding-top: 1rem;
    text-align: center;
}